*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(2, 10, 24);
}
.container{
    width: 1100px;
    margin: 0px auto;
}
#header{
    margin: 30px 0px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav{
    display: flex;
    gap: 35px;
}
.logo-info h2{
    color: rgb(58, 104, 184);
font-size: 22.55px;
font-weight: 600;
}
.nav a{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 400;
}
.nav a:hover{
    transition: .3s;
    transform: scale(1.1);
}
.header button{
    border: none;   

height: 47px;
padding: 15px 30px 27px 30px;
    border-radius: 5px;
gap: 10px;
color: white;
background:rgb(58, 104, 184);
cursor: pointer;
transition: .3s;
}
.header button:hover{
    transition: .3s;
    transform: scale(1.1);
    background-color: purple;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#hero{
    margin: 100px 0px;
}
.left-info h5{
    color: rgb(58, 104, 184);
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
}
.left-info h1{
    color: rgb(255, 255, 255);
font-size: 40px;
font-weight: 800;
margin: 35px 0px;

}
.main{
    width: 400px;
}
.left-info p{
    color: rgb(196, 189, 189);
font-size: 18px;
font-weight: 400;
margin: 0px 0px 35px 0px;
}
.get{
    border: none;
    border-radius: 5px;  
    padding: 15px 30px;  
    background: rgb(58, 104, 184);
    color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
}
.watch{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    font-size: 20;
    font-weight: 600;
    border-radius: 5px;
    padding: 15px 30px;
border: 0px;
color: white;
background: rgb(58, 104, 184);
}
.hero-button{
    display: flex;
    align-items: center;
    gap: 20px;
}

